.auth-form {
    padding: 2rem;
    border: 1px solid $grey-1;
    border-radius: 5px;
    
    &__input {
        padding: .5rem;
        height: 40px;
        display: block;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $grey-1;
        outline: none;
        
        &:focus {
            outline: none;
            border-color: $color5;
        }
        
        &-error {
            padding: .5rem;
            height: 40px;
            display: block;
            width: 100%;
            border-radius: 5px;
            border: 1px solid $color2;
            outline: none;
            
            &:focus {
                outline: none;
                border-color: $color5;
            }
        }
    } 
    
    &__divider {
        margin-top: 15px;
    }
    
    &__label {
        display: block;
        padding-bottom: 5px;
    }
    
    &__alert {
        display: block;
        padding: .7rem;
        color: $color2;
        border: 1px solid $color2;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    @include respond(tablet) {
        margin-top: 0;
    }
}


