h1, h2, h3, h4 {
    font-family: 'Aleo', serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem
}

h3 {
    font-size: 1.75rem
}

h4 {
    font-size: 1.125rem
}

p, li, a {
    font-size: 1.1rem;
    white-space: pre-wrap;
}

a {
    display: block;
    text-decoration: none;
}

ul {
    list-style-type: none;
}