<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Store - Login</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            
            <link rel="stylesheet" type="text/css" media="screen" href="/css/index.css" />

            <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Aleo:300,400,700" rel="stylesheet">
        </head>

        <body>

        <nav class = 'nav'>
            <div class = 'nav__container'>
                <h3 class = 'nav__title'>Social App</h3>
                <a href = '/login' class = 'nav__link'>Login</a>
                <a href = '/home' class = 'nav__link'>Home</a>
            </div>
            
        </nav>