<% include partials/header %>

<div class = 'container'>
    <a href = '/home'>Home Page</a>
    <a href = '/login'>Existing User?</a>
    <a href = '/register'>Register for an account.</a>
</div>

<% include partials/footer %>