<% include partials/header %>
<div class = 'container'>
    <form>
        <h4>Login</h4>
        <label>Username</label>
        <input type = 'text' name = 'username' />

        <label>Password</label>
        <input type = 'password' name = 'password' />

    </form>
</div>
<% include partials/footer %>