<% include partials/header %>

<div class = 'container-flex-center'>
    <div class = 'container-700'>
        <form class = 'auth-form' action = '/register' method = 'POST'>
            
            <% if (userExists) { %>
                <p class = 'auth-form__alert'><i class="fas fa-times"></i> Account already exists under given email.</p>
            <% } %>
            
            <h4>Register</h4>
            
            <div class = 'auth-form__divider'>
                <label class = 'auth-form__label'>First Name</label>
                <input class = 'input-block' type = 'text' name = 'first_name' />
            </div>
            
            <div class = 'auth-form__divider'>
                <label class = 'auth-form__label'>Last Name</label>
                <input class = 'input-block' type = 'text' name = 'last_name' />
            </div>
            
            <div class = 'auth-form__divider'>
                <label class = 'auth-form__label'>Email-Address</label>
                <input class = 'input-block' type = 'text' name = 'email' />
            </div>
            
            <div class = 'auth-form__divider'>
                <label class = 'auth-form__label'>Password</label>
                <input class = 'input-block' type = 'password' name = 'password' />
            </div>
            
            <div class = 'auth-form__divider'>
                <label class = 'auth-form__label'>Confirm Password</label>
                <input class = 'input-block' type = 'password' name = 'confirm_password' />
            </div>
            
            <div class = 'auth-form__divider'>
                <button type = 'submit' class = 'button-block'>Submit</button>
            </div>
            
        </form>
    </div>
    
</div>


<% include partials/footer %>