.auth-form {
  padding: 2rem;
  border: 1px solid #d2d2d2;
  border-radius: 5px; }
  .auth-form__input {
    padding: .5rem;
    height: 40px;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    outline: none; }
    .auth-form__input:focus {
      outline: none;
      border-color: #84dccf; }
    .auth-form__input-error {
      padding: .5rem;
      height: 40px;
      display: block;
      width: 100%;
      border-radius: 5px;
      border: 1px solid #ef626c;
      outline: none; }
      .auth-form__input-error:focus {
        outline: none;
        border-color: #84dccf; }
  .auth-form__divider {
    margin-top: 15px; }
  .auth-form__label {
    display: block;
    padding-bottom: 5px; }
  .auth-form__alert {
    display: block;
    padding: .7rem;
    color: #ef626c;
    border: 1px solid #ef626c;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px; }
  @media (max-width: 48em) {
    .auth-form {
      margin-top: 0; } }

.nav {
  height: 45px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #312f2f; }
  .nav__container {
    max-width: 1000px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .nav__title {
    color: #84dccf;
    flex-grow: 1; }
  .nav__link {
    color: #84dccf;
    padding: 10px;
    margin: 10px;
    text-decoration: none; }
    .nav__link:hover {
      font-weight: bold; }

.container {
  max-width: 1000px;
  margin: auto;
  margin-top: 45px; }

h1, h2, h3, h4 {
  font-family: 'Aleo', serif; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.125rem; }

p, li, a, button {
  font-size: 1.1rem;
  white-space: pre-wrap; }

a {
  display: block;
  text-decoration: none; }

ul {
  list-style-type: none; }

.button {
  padding: .6rem;
  border-radius: 3px;
  background: #84dccf;
  color: white;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer; }
  .button:active, .button:focus {
    outline: none; }

* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 160em) {
    html {
      font-size: 100%; } }
  @media (max-width: 90em) {
    html {
      font-size: 95%; } }
  @media (max-width: 64em) {
    html {
      font-size: 85%; } }
  @media (max-width: 48em) {
    html {
      font-size: 80%; } }
  @media (max-width: 26.5625em) {
    html {
      font-size: 75%; } }
