.container {
  margin: auto;
  max-width: 100%;
  padding: 1rem; }

.container-flex-center {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.container-700 {
  width: 700px; }

.card-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.card {
  display: block;
  width: 100%;
  margin-top: 10px;
  background: #fafafa;
  cursor: pointer;
  transition: padding .2s;
  color: #22181c;
  padding: 1rem; }
  .card:hover {
    background: #f0f0f0; }
  .card__title {
    display: block;
    margin: 0;
    padding: 0; }
  .card__body {
    display: block;
    margin: 0;
    padding: 0; }

.tag__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px; }

.tag {
  border-radius: 3px;
  background: #14BDEB;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; }
  .tag p {
    padding: .7rem;
    display: inline-block;
    margin-right: 5px;
    height: 100%; }
  .tag i {
    font-size: 1.3rem;
    padding: .7rem;
    background: #ef626c;
    display: inline-block;
    height: 100%;
    cursor: pointer; }
    .tag i:hover {
      background: #C45159; }

.box {
  padding: 1rem;
  border: 1px solid #d2d2d2;
  border-radius: 5px; }

.avatar {
  display: block;
  height: 6rem;
  width: 6rem;
  background: gainsboro;
  border-radius: 50%;
  margin: auto; }

h1, h2, h3, h4 {
  font-family: 'Quicksand', sans-serif;
  color: #16343C; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.125rem; }

p, li, a, button, input, textarea, label {
  font-size: 1rem;
  white-space: pre-wrap;
  color: #214E5A; }

a {
  display: block;
  text-decoration: none; }

ul {
  list-style-type: none; }

.text-center {
  text-align: center; }

.font-light {
  font-weight: lighter; }

.font-normal {
  font-weight: normal; }

.font-bold {
  font-weight: bold; }

.color-primary {
  color: #14BDEB; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.m-a-0 {
  margin: 0 0 !important; }

.m-t-0 {
  margin-top: 0 !important; }

.m-r-0 {
  margin-right: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-l-0 {
  margin-left: 0 !important; }

.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-b-s {
  margin-bottom: .5rem; }

.m-r-s {
  margin-right: .2rem; }

.m-a-1 {
  margin: 1rem 1rem !important; }

.m-t-1 {
  margin-top: 1rem !important; }

.m-r-1 {
  margin-right: 1rem !important; }

.m-b-1 {
  margin-bottom: 1rem !important; }

.m-l-1 {
  margin-left: 1rem !important; }

.m-x-1 {
  margin-right: 1rem !important;
  margin-left: 1rem !important; }

.m-y-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.m-a-2 {
  margin: 1.5rem 1.5rem !important; }

.m-t-2 {
  margin-top: 1.5rem !important; }

.m-r-2 {
  margin-right: 1.5rem !important; }

.m-b-2 {
  margin-bottom: 1.5rem !important; }

.m-l-2 {
  margin-left: 1.5rem !important; }

.m-x-2 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important; }

.m-y-2 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important; }

.m-a-3 {
  margin: 3rem 3rem !important; }

.m-t-3 {
  margin-top: 3rem !important; }

.m-r-3 {
  margin-right: 3rem !important; }

.m-b-3 {
  margin-bottom: 3rem !important; }

.m-l-3 {
  margin-left: 3rem !important; }

.m-x-3 {
  margin-right: 3rem !important;
  margin-left: 3rem !important; }

.m-y-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

/*
Padding
*/
.p-a-0 {
  padding: 0 0 !important; }

.p-t-0 {
  padding-top: 0 !important; }

.p-r-0 {
  padding-right: 0 !important; }

.p-b-0 {
  padding-bottom: 0 !important; }

.p-l-0 {
  padding-left: 0 !important; }

.p-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-a-xs {
  padding: .3rem; }

.p-a-s {
  padding: .5rem; }

.p-a-1 {
  padding: 1rem 1rem !important; }

.p-t-1 {
  padding-top: 1rem !important; }

.p-r-1 {
  padding-right: 1rem !important; }

.p-b-1 {
  padding-bottom: 1rem !important; }

.p-l-1 {
  padding-left: 1rem !important; }

.p-x-1 {
  padding-right: 1rem !important;
  padding-left: 1rem !important; }

.p-y-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.p-a-2 {
  padding: 1.5rem 1.5rem !important; }

.p-t-2 {
  padding-top: 1.5rem !important; }

.p-r-2 {
  padding-right: 1.5rem !important; }

.p-b-2 {
  padding-bottom: 1.5rem !important; }

.p-l-2 {
  padding-left: 1.5rem !important; }

.p-x-2 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important; }

.p-y-2 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.p-a-3 {
  padding: 3rem 3rem !important; }

.p-t-3 {
  padding-top: 3rem !important; }

.p-r-3 {
  padding-right: 3rem !important; }

.p-b-3 {
  padding-bottom: 3rem !important; }

.p-l-3 {
  padding-left: 3rem !important; }

.p-x-3 {
  padding-right: 3rem !important;
  padding-left: 3rem !important; }

.p-y-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.nav {
  height: 100vh;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 8rem;
  background: linear-gradient(to bottom, #14BDEB, #119BC1);
  box-shadow: inset -1px 0px 25px 0px rgba(0, 0, 0, 0.23); }
  .nav__container {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column; }
  .nav__title {
    display: block;
    color: white;
    flex-grow: 5;
    padding-top: 1rem;
    font-size: 3rem; }
  .nav__link {
    width: 100%;
    transition: all .2s;
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-align: center; }
    .nav__link:hover {
      padding: 2rem;
      background: #119BC1; }

.home-nav {
  background: #f0f0f0;
  top: 0;
  left: 0;
  margin-left: 8rem;
  position: fixed;
  height: 3.5rem;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.23);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 1rem; }

.home-nav__spacer {
  display: block;
  height: 3.5rem; }

.auth-form {
  padding: 2rem;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%; }
  .auth-form__divider {
    margin-top: 15px; }
  .auth-form__label {
    display: block;
    padding-bottom: 5px; }
  .auth-form__alert {
    display: block;
    padding: .7rem;
    color: #ef626c;
    border: 1px solid #ef626c;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px; }
  @media (max-width: 48em) {
    .auth-form {
      margin-top: 0; } }

.post-form {
  padding: 2rem;
  border: 1px solid #e6e6e6; }
  .post-form__label {
    display: block;
    margin-bottom: .5rem; }
  .post-form__divider {
    margin-top: 1.5rem; }

.input-small {
  transition: all .2s;
  padding: .5rem;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  outline: none;
  box-shadow: 0px 0px 1px -1px #A9E7F7;
  display: inline-block; }
  .input-small:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px #A9E7F7;
    border-color: #14BDEB; }

.input-block {
  transition: all .2s;
  padding: .5rem;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  outline: none;
  box-shadow: 0px 0px 1px -1px #A9E7F7;
  display: block;
  width: 100%; }
  .input-block:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px #A9E7F7;
    border-color: #14BDEB; }
  .input-block-error {
    transition: all .2s;
    padding: .5rem;
    height: 40px;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ef626c;
    outline: none;
    box-shadow: 0px 0px 1px -1px #A9E7F7; }
    .input-block-error:focus {
      outline: none;
      box-shadow: 0px 0px 0px 3px #A9E7F7;
      border-color: #14BDEB; }

.textarea {
  transition: all .2s;
  padding: .5rem;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  outline: none;
  box-shadow: 0px 0px 1px -1px #A9E7F7;
  display: block;
  width: 100%;
  min-height: 4rem;
  resize: none; }
  .textarea:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px #A9E7F7;
    border-color: #14BDEB; }

.button {
  transition: all .2s;
  padding: .5rem .65rem .5rem .65rem;
  border-radius: 3px;
  background: #14BDEB;
  color: white;
  border: none;
  display: inline-block;
  cursor: pointer;
  text-align: center; }
  .button:active, .button:focus {
    outline: none; }
  .button:hover {
    background: #119BC1; }
  .button-block {
    transition: all .2s;
    padding: .6rem;
    border-radius: 3px;
    background: #14BDEB;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%; }
    .button-block:active, .button-block:focus {
      outline: none; }
    .button-block:hover {
      background: #119BC1; }

.comment {
  border: 1px solid #d2d2d2;
  margin-bottom: .75rem; }
  .comment__top {
    display: flex;
    align-items: center; }
  .comment__body {
    padding: .7rem .5rem .7rem .5rem; }
  .comment__avatar {
    margin: .5rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%; }
  .comment__info {
    background: #f0f0f0;
    padding: .2rem .5rem .2rem .5rem; }
    .comment__info p {
      display: inline-block;
      font-size: .9rem; }

.loader {
  height: 5rem;
  width: 5rem;
  border: 2px solid transparent;
  border-bottom-color: #14BDEB;
  border-radius: 50%;
  animation: spin;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.loader-button {
  height: 1rem;
  width: 1rem;
  border: 1px solid transparent;
  border-bottom-color: white;
  border-radius: 50%;
  animation: spin;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: auto; }

* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin-left: 8rem; }

html {
  font-size: 62.5%; }
  @media (max-width: 160em) {
    html {
      font-size: 100%; } }
  @media (max-width: 90em) {
    html {
      font-size: 95%; } }
  @media (max-width: 64em) {
    html {
      font-size: 85%; } }
  @media (max-width: 48em) {
    html {
      font-size: 80%; } }
  @media (max-width: 26.5625em) {
    html {
      font-size: 75%; } }
